@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  box-sizing: border-box; }

@keyframes balloons {
  0%, 100% {
    transform: translateY(0) rotate(-4deg); }
  50% {
    transform: translateY(-25px) rotate(4deg); } }

@keyframes updown {
  0% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(20px, -25px); }
  100% {
    transform: translate(30px, 25px); } }

@keyframes plant-right {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(8deg);
    transform-origin: left; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-8deg);
    transform-origin: left; }
  100% {
    transform: rotate(0); } }

@keyframes plant-left {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(8deg);
    transform-origin: right; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-8deg);
    transform-origin: right; }
  100% {
    transform: rotate(0); } }

@keyframes plant-kv {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(2deg);
    transform-origin: right; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-2deg);
    transform-origin: right; }
  100% {
    transform: rotate(0); } }

@keyframes plant-kv-2 {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(-2deg);
    transform-origin: right; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(2deg);
    transform-origin: right; }
  100% {
    transform: rotate(0); } }

@keyframes drop {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0);
    opacity: 0; } }

@keyframes heart {
  0% {
    transform: translateY(0); }
  90% {
    transform: translateY(-10px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 0; } }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0); } }

#hidden-content-table h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px; }

.rwd-table {
  line-height: 32px;
  border-collapse: collapse;
  font-size: 16px; }
  .rwd-table span {
    color: #CC6877; }
  .rwd-table ol {
    text-align: left;
    line-height: 32px;
    padding-left: 1em; }
  .rwd-table th {
    width: 1%; }

.rwd-table tr:first-child {
  border-top: none;
  background: #e6e6e6;
  color: #333333; }

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #fff; }

.rwd-table th {
  display: none; }

.rwd-table td {
  display: block; }

.rwd-table td:first-child {
  margin-top: .5em; }

.rwd-table td:last-child {
  margin-bottom: .5em; }

.rwd-table td:before {
  content: attr(data-th) ": ";
  width: 120px;
  margin-bottom: 8px;
  display: inline-block;
  color: #000; }

.rwd-table th,
.rwd-table td {
  text-align: center;
  border: 1px solid #ddd; }

.rwd-table th {
  border-color: #fff; }

.rwd-table {
  color: #333;
  overflow: hidden; }

.rwd-table th,
.rwd-table td {
  padding: .5em 1em; }

@media screen and (max-width: 601px) {
  .rwd-table td:first-child {
    background: #e6e6e6;
    color: #000;
    margin-top: 0; }
    .rwd-table td:first-child::before {
      color: black;
      font-weight: normal; }
  .mission .rwd-table tr:last-child {
    border-bottom: 0; }
  .mission .rwd-table tr:last-child td {
    margin-bottom: 0; }
  .rwd-table td:before {
    width: 100%;
    display: block;
    vertical-align: top; }
  .rwd-table td.item:before {
    display: inline-block;
    width: auto; }
  .rwd-table th,
  .rwd-table td {
    text-align: left; }
  .rwd-table tr:nth-child(2) {
    border-top: none; } }

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #fcfcfc; }
  .rwd-table td:before {
    display: none; }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em; }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0; }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0; }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important; } }

body {
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
  color: #636363; }

.img-responsive {
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  word-break: break-all;
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden; }

.esunlogo {
  display: block;
  float: left;
  margin: 0;
  padding: 12px 15px; }
  .esunlogo img {
    width: 225px; }

header {
  z-index: 100;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  min-height: 50px; }
  header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  transition: all 0.5s ease; }

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateZ(0);
  color: #fff;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .buns li {
    width: 100%;
    height: 2px;
    background-color: #0e0e0e;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    transform: translateY(-3.75px) translateZ(0);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .buns li:last-child {
      transform: translateY(3.75px) translateZ(0); }

nav ul {
  list-style: none; }
  nav ul li {
    font-size: 16px;
    margin: 0 10px; }
    nav ul li a {
      transition: .3s;
      color: #009d98; }

.headFixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 11; }

.top-btn {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  right: 20px;
  bottom: 14%;
  display: none;
  text-align: center; }
  .top-btn .add {
    max-width: 90px;
    width: 100%; }
  .top-btn img {
    max-width: 40px;
    width: 100%;
    margin: 10px auto; }

.kv-bg-bottom {
  width: 100%; }

.gift {
  max-width: 40px;
  width: 100%;
  display: inline-block;
  position: relative; }

.heart-1 {
  width: 26px;
  position: absolute;
  top: -26px;
  transition: .3s;
  left: 9px;
  animation: heart 4s infinite; }

.heart-2 {
  width: 16px;
  position: absolute;
  top: -46px;
  transition: .3s;
  animation: heart 4s infinite;
  animation-delay: .3s; }

.kv-txt {
  text-align: center;
  margin-top: -65px; }
  .kv-txt a {
    display: block;
    max-width: 166px;
    width: 100%;
    border-radius: 50px;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    color: #96b94c;
    padding: 8px;
    position: relative;
    z-index: 2; }
    .kv-txt a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #eff9d9;
      z-index: -3;
      border-radius: 30px;
      left: 8px;
      top: 8px;
      transition: .4s; }
    .kv-txt a:hover::before {
      top: 0;
      left: 0; }
    .kv-txt a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid #96b94c;
      z-index: 0;
      border-radius: 30px;
      left: 0px;
      top: 0px; }
  .kv-txt h4 {
    font-size: 20px;
    font-weight: normal; }
    .kv-txt h4 span {
      color: #009d96; }

.kv {
  background: url(../img/kv-bg.jpg);
  background-size: cover; }
  .kv .root-kv {
    height: 126px; }
  .kv .kv-wrapper {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    margin-top: 148px;
    position: relative; }
    .kv .kv-wrapper .group {
      max-width: 176px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 0; }
      .kv .kv-wrapper .group .c {
        max-width: 70px;
        width: 100%;
        position: absolute; }
      .kv .kv-wrapper .group .c-1 {
        left: 15px;
        top: -46%;
        animation: plant-kv 4s infinite linear;
        animation-delay: .2s; }
      .kv .kv-wrapper .group .c-2 {
        right: 21px;
        top: -49%;
        animation: plant-kv-2 4s infinite linear; }
      .kv .kv-wrapper .group .c-3 {
        right: 14px;
        top: 6%;
        animation-delay: .2s;
        animation: plant-kv 4s infinite linear; }
      .kv .kv-wrapper .group .c-4 {
        left: 20px;
        top: 11%;
        animation: plant-kv-2 4s infinite linear; }
  .kv .Watering-device {
    max-width: 60px;
    animation: float 4s infinite;
    width: 100%; }
  .kv .kv-clover {
    position: relative;
    z-index: 2; }
  .kv .Watering {
    position: relative;
    width: 100px;
    margin: 0 auto; }
  .kv .drip-1 {
    width: 13px;
    position: absolute;
    left: 18px;
    top: 61px;
    transition: .3s;
    animation: drop 4s infinite;
    animation-timing-function: ease-out; }
  .kv .drip-2 {
    width: 10px;
    position: absolute;
    top: 92px;
    left: 10px;
    animation: drop 4s infinite;
    animation-delay: 0.3s; }
  .kv .title {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .kv .title-img {
    z-index: 2;
    position: relative; }
  .kv .germination {
    position: absolute;
    left: 49%;
    top: -36px;
    width: 32px;
    z-index: 0; }
    .kv .germination .leaf-left {
      width: 22px;
      position: absolute;
      left: -6px;
      top: -13px;
      animation: plant-left 4s infinite linear; }
    .kv .germination .leaf-right {
      width: 19px;
      position: absolute;
      right: -4px;
      animation: plant-right 4s infinite linear; }
    .kv .germination .root {
      width: 9px; }
  .kv .text {
    max-width: 338px;
    width: 100%;
    margin: 30px 0; }
  .kv .container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center; }

.scroll-down img {
  max-width: 40px;
  width: 100%;
  margin: 46px auto;
  display: block; }

.what {
  text-align: center; }
  .what .butterfly {
    animation: updown 6s linear infinite alternate; }
  .what > a {
    display: block;
    max-width: 166px;
    width: 100%;
    border-radius: 50px;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    color: #96b94c;
    padding: 8px;
    position: relative;
    z-index: 2;
    color: #f4877a;
    margin-top: 82px; }
    .what > a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #eff9d9;
      z-index: -3;
      border-radius: 30px;
      left: 8px;
      top: 8px;
      transition: .4s; }
    .what > a:hover::before {
      top: 0;
      left: 0; }
    .what > a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid #96b94c;
      z-index: 0;
      border-radius: 30px;
      left: 0px;
      top: 0px; }
    .what > a::after {
      border-color: #f4877a; }
    .what > a::before {
      background: #fcded4; }
  .what .txt {
    display: table;
    margin: 0 auto;
    position: relative;
    opacity: 0.3;
    transition: .3s; }
    .what .txt span {
      color: #f78481; }
    .what .txt .clover-1 {
      position: absolute;
      right: 19px;
      top: -44px;
      max-width: 52px; }
    .what .txt .clover-2 {
      max-width: 160px;
      width: 100%;
      position: absolute;
      left: -315px;
      bottom: -65px; }
    .what .txt .butterfly {
      max-width: 47px;
      position: absolute;
      left: -138px;
      bottom: 138px; }
    .what .txt a {
      color: #297bff;
      text-decoration: underline; }
    .what .txt h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px; }
    .what .txt p {
      font-size: 18px;
      line-height: 28px; }
    .what .txt p.note {
      font-size: 16px; }

.main-title {
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-title img {
    display: inline-block;
    max-width: 43px;
    width: 100%;
    margin: 0 6px; }
  .main-title h2 {
    font-size: 28px;
    color: #f4877a;
    display: inline-block;
    font-weight: 400; }

.txt.active {
  opacity: 1; }

.txt {
  opacity: 0.3;
  transition: .3s; }

.unique {
  background: url(../img/bg-green.png);
  padding: 156px 0;
  position: relative; }
  .unique .balloon {
    animation: balloons 4s ease-in-out infinite; }
  .unique .gift-deco {
    max-width: 55px;
    width: 100%;
    position: absolute;
    top: -91px;
    left: -80px; }
  .unique a {
    display: block;
    max-width: 166px;
    width: 100%;
    border-radius: 50px;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    color: #96b94c;
    padding: 8px;
    position: relative;
    z-index: 2;
    color: #2b6060;
    margin: 0;
    margin-top: 28px; }
    .unique a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #eff9d9;
      z-index: -3;
      border-radius: 30px;
      left: 8px;
      top: 8px;
      transition: .4s; }
    .unique a:hover::before {
      top: 0;
      left: 0; }
    .unique a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid #96b94c;
      z-index: 0;
      border-radius: 30px;
      left: 0px;
      top: 0px; }
    .unique a::after {
      border-color: #2b6060; }
    .unique a::before {
      background: #fff; }
  .unique ul {
    list-style: none;
    padding-left: 20px;
    line-height: 32px;
    font-size: 18px;
    opacity: 0.3; }
  .unique h2 {
    color: #2b6060;
    font-size: 28px;
    font-weight: 500; }
  .unique .hi-txt {
    max-width: 450px;
    width: 100%; }
  .unique .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
  .unique .right-pic {
    max-width: 380px;
    position: absolute;
    right: -141px;
    width: 100%;
    bottom: -55px; }
    .unique .right-pic .balloon-clover-1 {
      position: absolute;
      max-width: 66px;
      width: 100%;
      top: -10px;
      left: 150px; }
    .unique .right-pic .balloon-clover-2 {
      position: absolute;
      max-width: 60px;
      width: 100%;
      top: 65px;
      left: 70px; }
    .unique .right-pic .balloon {
      max-width: 70px;
      width: 100%;
      position: absolute;
      top: -103px;
      left: 80px; }

.mission .tips {
  background: #e8f3f2;
  padding-bottom: 20px; }
  .mission .tips .con {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: none; }
    .mission .tips .con ol {
      font-size: 16px;
      line-height: 34px;
      margin-top: 30px; }
      .mission .tips .con ol ol {
        padding-left: 20px;
        margin-top: 0; }
      .mission .tips .con ol span {
        color: #009d96; }
      .mission .tips .con ol a {
        color: #297bff;
        text-decoration: underline; }
  .mission .tips h3 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    background: #6abfb2;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    cursor: pointer; }
    .mission .tips h3 img {
      max-width: 46px;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px; }

.mission h4 {
  font-size: 18px;
  text-align: center;
  margin: 40px 0;
  font-weight: 500; }

.mission .row {
  text-align: center; }
  .mission .row .col-3 {
    position: relative;
    margin: 0 20px;
    border: 1px solid #009d96;
    border-radius: 26px;
    position: relative; }
    .mission .row .col-3 h3 {
      font-size: 20px;
      max-width: 126px;
      width: 100%;
      background: #fff;
      transform: translate(-50px, 10px);
      left: 46%;
      top: -42px;
      position: absolute;
      color: #009d96; }
    .mission .row .col-3 ul {
      text-align: left;
      font-size: 18px;
      line-height: 28px;
      margin-top: 32px;
      padding-right: 15px;
      display: table;
      margin: 32px auto; }
      .mission .row .col-3 ul li span {
        display: block;
        font-size: 16px; }
    .mission .row .col-3:last-child {
      border-color: #f78481; }
      .mission .row .col-3:last-child h3 {
        color: #f78481; }

.mission .state {
  padding: 10px;
  margin-top: 10px; }
  .mission .state p {
    font-size: 16px;
    line-height: 28px; }
  .mission .state .red {
    color: #f78481; }
  .mission .state ol {
    font-size: 16px;
    line-height: 28px;
    position: relative;
    padding-left: 60px; }
    .mission .state ol::before {
      content: '舉例：';
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      position: absolute;
      left: -1px; }
  .mission .state .green {
    color: #009d96; }

.mission .container {
  max-width: 922px;
  width: 100%;
  margin: 30px auto; }

.mission .rwd-table {
  font-size: 20px;
  margin-top: 36px; }
  .mission .rwd-table tr:last-child {
    background-color: #fffade; }
  .mission .rwd-table p {
    font-size: 18px;
    position: relative;
    padding-left: 16px;
    text-align: left; }
    .mission .rwd-table p::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;
      position: absolute;
      left: 0px;
      top: 13px; }
  .mission .rwd-table p.red {
    color: #f78481; }
  .mission .rwd-table img {
    display: inline-block;
    max-width: 40px;
    vertical-align: middle;
    margin-right: 10px; }

.mission .main-title {
  margin-top: 50px; }
  .mission .main-title h2 {
    color: #64ae63; }

.mission .sub-title {
  margin-top: 20px; }
  .mission .sub-title img {
    display: inline-block;
    max-width: 46px;
    width: 100%;
    vertical-align: middle;
    margin-right: 10px; }
  .mission .sub-title h3 {
    max-width: 322px;
    display: block;
    width: 100%;
    background: #7dc363;
    transform: skewX(10deg);
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    font-weight: 500;
    padding: 6px;
    position: relative;
    padding-top: 10px; }
    .mission .sub-title h3::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 100%;
      background: #7dc363;
      position: absolute;
      left: -14px;
      top: 0; }
    .mission .sub-title h3::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 100%;
      background: #7dc363;
      position: absolute;
      right: -14px;
      top: 0; }

.mission .green-sub h3 {
  background: #ffc70c; }
  .mission .green-sub h3::before {
    background: #ffc70c; }
  .mission .green-sub h3::after {
    background: #ffc70c; }

.plan {
  margin-top: 40px; }
  .plan .main-title h2 {
    color: #ffba0d; }
  .plan ul {
    padding: 0;
    list-style: none;
    background: url(../img/con-bg.png);
    max-width: 1168px;
    width: 100%;
    margin: 24px auto;
    background-size: cover;
    padding: 50px 96px;
    height: 743px;
    font-size: 18px; }
    .plan ul a {
      display: block;
      max-width: 166px;
      width: 100%;
      border-radius: 50px;
      font-size: 26px;
      margin: 0 auto;
      text-align: center;
      color: #96b94c;
      padding: 8px;
      position: relative;
      z-index: 2;
      color: #f4877a;
      margin: 0 auto;
      margin-top: 28px; }
      .plan ul a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #eff9d9;
        z-index: -3;
        border-radius: 30px;
        left: 8px;
        top: 8px;
        transition: .4s; }
      .plan ul a:hover::before {
        top: 0;
        left: 0; }
      .plan ul a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #96b94c;
        z-index: 0;
        border-radius: 30px;
        left: 0px;
        top: 0px; }
      .plan ul a::after {
        border-color: #f4877a; }
      .plan ul a::before {
        background: #fcded4; }
    .plan ul span {
      max-width: 85px;
      width: 100%;
      display: inline-block;
      background: #4bcc8a;
      color: #fff;
      border-radius: 10px;
      padding: 8px;
      text-align: center;
      margin-right: 10px; }

.faq .attention-table {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: #636363;
  line-height: 32px;
  padding: 20px;
  padding-left: 0;
  margin-left: 0; }
  .faq .attention-table span {
    color: #f78481; }
  .faq .attention-table .red {
    color: #f78481;
    text-align: left; }
  .faq .attention-table table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px; }
  .faq .attention-table th {
    width: 1%;
    background: #37b599;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px; }
  .faq .attention-table td {
    border: 1px solid #ddd;
    padding: 10px; }

.faq .qa-section {
  max-width: 960px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px 16px;
  margin-bottom: 20px; }
  .faq .qa-section img {
    display: block; }
  .faq .qa-section .answer {
    line-height: 28px;
    padding-left: 42px;
    display: none; }
    .faq .qa-section .answer ol {
      padding-left: 20px; }
    .faq .qa-section .answer p {
      margin-bottom: 0; }
  .faq .qa-section ul {
    line-height: 30px;
    padding: 10px;
    list-style: disc;
    font-size: 16px; }
  .faq .qa-section h3 {
    font-weight: normal;
    position: relative;
    margin-top: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: .3s;
    margin-top: 0; }
    .faq .qa-section h3:hover {
      color: #64ae63; }
    .faq .qa-section h3 svg {
      max-width: 30px;
      width: 100%;
      display: inline-block;
      position: absolute;
      right: 6px;
      top: 10px;
      transition: .3s; }
    .faq .qa-section h3 span {
      width: 33px;
      height: 33px;
      background: #64ae63;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center; }

.faq .active-qa h3 {
  color: #64ae63; }

.faq .active-qa svg {
  transform: rotate(180deg); }

.faq .con {
  background: #fcfcf5;
  padding: 30px 0;
  padding-top: 50px;
  list-style: none; }

.faq .main-title {
  margin: 50px 0; }
  .faq .main-title h2 {
    color: #64ae63; }

.faq #tabs > ul > li {
  padding-left: 0;
  max-width: 320px;
  position: relative;
  width: 100%;
  border: 2px solid #7dc363;
  padding: 10px;
  border-radius: 18px 18px 0 0;
  margin: 0 10px;
  background: #f6f9b7;
  border-bottom: 0; }
  .faq #tabs > ul > li:focus {
    outline: none; }

.faq #tabs > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  padding: 0;
  list-style: none; }
  .faq #tabs > ul::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
    border-bottom: 2px solid #7dc363; }

.faq #tabs ul li a {
  padding: 5px 10px;
  font-size: 20px;
  border-bottom: 0px solid #000;
  color: #000;
  text-align: center;
  display: block; }
  .faq #tabs ul li a:focus {
    outline: none; }

.ui-state-active {
  background: #fcfcf5 !important; }
  .ui-state-active a::before {
    content: '';
    width: 56px;
    height: 70px;
    background: url(../img/tab-clover.svg);
    display: block;
    position: absolute;
    top: -41px;
    left: 12%; }

.precation {
  background: #fef7f3;
  padding-bottom: 20px; }
  .precation .con {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: none; }
    .precation .con > ol {
      font-size: 16px;
      line-height: 34px;
      margin-top: 30px; }
      .precation .con > ol ol {
        padding-left: 20px; }
    .precation .con a {
      color: #297bff;
      text-decoration: underline; }
  .precation h3 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    background: #f4877a;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    cursor: pointer; }
    .precation h3 img {
      max-width: 46px;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px; }

#footer {
  padding-bottom: 16px;
  background: url(../img/footerBg.jpg) repeat-y center bottom; }

.anchor {
  max-height: 47px;
  text-align: center;
  padding-top: 16px;
  margin: 0;
  padding-left: 0; }
  .anchor li {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.06em; }
    .anchor li::before {
      color: #30ABAF;
      content: "|";
      padding: 0 5px 0 5px; }
    .anchor li a {
      display: inline;
      color: #fff;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer; }
  .anchor li.first::before {
    display: none; }

.footerWarning_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  margin: 0; }

.footerWarning {
  color: #555;
  background: #f7f7f7; }
  .footerWarning .footerWarning_cont {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.footerWarning_title {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center; }

@media (min-width: 900px) {
  .footerWarning_txt {
    margin-left: 350px; }
  .footerWarning_title {
    float: left;
    font-size: 30px; } }

@media screen and (min-width: 801px) {
  .mission .row {
    margin: 0 -50px; }
    .mission .row .col-3 {
      width: calc(100% / 3 - 60px);
      display: inline-block;
      vertical-align: top;
      height: 232px; }
  .buns {
    display: none; }
  nav {
    float: right;
    width: auto; }
    nav ul li {
      display: inline-block; } }

@media screen and (max-width: 1025px) {
  .kv .kv-clover {
    max-width: 507px; }
  .kv-txt {
    margin-top: -40px; }
  .what .txt .clover-2 {
    left: -118px; }
  .plan ul {
    height: 638px;
    background-position: center; }
  .unique .gift-deco {
    top: -166px; }
  .unique .right-pic {
    right: -100px; } }

@media screen and (max-width: 800px) {
  .mission .tips .con ol {
    padding: 30px 48px;
    margin: 0; }
    .mission .tips .con ol ol {
      padding: 0; }
  .precation .con > ol {
    padding: 30px 48px;
    margin: 0; }
  .faq .con {
    padding: 30px 15px;
    list-style: none; }
  .plan {
    padding: 0 15px; }
    .plan ul {
      background: url(../img/con-bg-m.png);
      background-size: cover;
      height: auto; }
      .plan ul span {
        display: block;
        margin-bottom: 10px; }
      .plan ul p {
        line-height: 28px; }
  .kv .kv-clover {
    max-width: 411px; }
  .kv .kv-wrapper {
    margin-top: 202px; }
  .kv-txt {
    margin-top: 0; }
  .mission h4 {
    font-size: 16px; }
  .mission .container {
    padding: 0 15px; }
  .mission .row .col-3 {
    max-width: 400px;
    width: 100%;
    margin: 36px auto; }
  .unique {
    background-size: cover; }
    .unique .container {
      padding: 0 15px; }
    .unique .right-pic {
      position: relative;
      margin: 0 auto;
      right: auto; }
  .target-burger.toggled .buns li {
    transform: rotate(45deg) translateZ(0); }
    .target-burger.toggled .buns li:last-child {
      transform: rotate(-45deg) translateZ(0); }
  .main-nav {
    position: absolute;
    left: 0;
    top: 49px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease;
    background: rgba(0, 154, 149, 0.956); }
    .main-nav ul {
      padding: 0;
      margin: 32px auto;
      padding: 20px;
      text-align: center; }
      .main-nav ul li {
        margin: 20px;
        border-bottom: 1px solid #ffffff;
        padding: 10px; }
        .main-nav ul li a {
          font-size: 20px;
          display: block;
          color: #ffffff; }
          .main-nav ul li a:hover {
            padding-left: 10px; }
  .main-nav.toggled {
    display: block;
    z-index: 10;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease; } }

@media screen and (max-width: 550px) {
  .top-btn {
    right: 10px; }
    .top-btn .add {
      max-width: 50px;
      width: 100%; }
    .top-btn img {
      max-width: 28px;
      width: 100%;
      margin: 10px auto; }
  .attention-table table {
    width: 500px !important;
    overflow: scroll; }
  .kv .root-kv {
    height: 89px; }
  .kv .kv-wrapper .group .c {
    max-width: 46px; }
  .kv .kv-wrapper .group .c-1 {
    left: 38px;
    top: -39%; }
  .kv .kv-wrapper .group .c-2 {
    right: 43px;
    top: -42%; }
  .kv .kv-wrapper .group .c-3 {
    right: 40px;
    top: 4%; }
  .kv .kv-wrapper .group .c-4 {
    left: 42px;
    top: 11%; }
  .faq .qa-section {
    font-size: 16px;
    padding-left: 57px;
    padding-right: 38px; }
    .faq .qa-section .answer {
      padding: 0; }
      .faq .qa-section .answer p {
        font-size: 16px;
        text-align: justify; }
    .faq .qa-section h3 {
      position: relative;
      font-size: 16px;
      line-height: 28px; }
      .faq .qa-section h3 svg {
        max-width: 18px;
        right: -20px; }
      .faq .qa-section h3 span {
        width: 25px;
        height: 25px;
        position: absolute;
        left: -30px;
        top: 3px; }
  .faq #tabs > ul > li {
    max-width: 150px; }
    .faq #tabs > ul > li a {
      font-size: 16px; }
  .faq .ui-state-active a::before {
    content: '';
    width: 39px;
    height: 49px;
    top: -41px;
    left: 0; }
  .unique {
    padding: 77px 0; }
    .unique a {
      font-size: 22px; }
    .unique .right-pic {
      margin-top: 82px; }
  .mission .rwd-table {
    font-size: 16px; }
    .mission .rwd-table p {
      font-size: 16px; }
  .mission .sub-title h3 {
    max-width: 290px;
    font-size: 20px; }
    .mission .sub-title h3 img {
      height: 36px; }
  .mission .tips .con ol {
    font-size: 16px; }
  .precation .con ol {
    font-size: 16px; }
    .precation .con ol ol {
      padding-left: 16px; }
  .plan ul {
    margin-top: 0;
    padding: 40px;
    background-position: center;
    padding-top: 20px;
    font-size: 16px; }
    .plan ul a {
      font-size: 22px; }
  .btns {
    font-size: 20px !important;
    padding: 14px 0 !important; }
  .what {
    padding: 0 15px; }
    .what > a {
      font-size: 22px;
      margin: 20px auto; }
    .what .txt .clover-2 {
      position: static; }
  .kv {
    padding: 0 15px; }
    .kv .germination {
      top: -43px;
      left: 47%; }
    .kv .title {
      max-width: 260px; }
  .kv-bg-bottom {
    display: none; }
  .kv-txt {
    padding: 0 15px;
    line-height: 36px; }
    .kv-txt a {
      font-size: 22px; }
  .gift {
    display: block;
    margin: 20px auto;
    margin-top: 66px; }
  .main-title img {
    max-width: 20px; }
  .main-title h2 {
    font-size: 24px; } }

/*# sourceMappingURL=style.css.map */